body {
  margin-top: 0;
}

* {
  &:active, &:focus {
    outline: 0;
  }
}

.inline-block {
  display: inline-block;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

img {
  width: 100%;
  vertical-align: middle;
}

.main-container {
  .sidebar {
    background: $darkblue;
    padding: 0 5px;
    z-index: 1;

    h3 {
      color: white;
    }
  }
}

.content {
  .item {

    /*Override for isotope filtering Plugin*/
    left: unset !important;
    position: relative !important;
    top: unset !important;
    transition: 0.4s all;

    .item-image {
      border-radius: 3px;

      img {
        backface-visibility: hidden;
        transition: opacity 0.4s;

        &:hover {
          opacity: 0.8;
          transition: opacity 0.4s;
        }
      }
    }

    .item-description {
      .item-title, .item-location {
        margin: 0;
      }
      .item-title {
        margin-top: 10px;
        margin-bottom: 5px;
      }
    }

    .item-price {
      background: $darkblue;
      border-radius: 5px;
      color: white;
      font-size: 24px;
      font-weight: bold;
      margin: 20px 10px;
      padding: 5px;
    }

    .item-rating {
      width: calc(100% + 20px);
    }
  }
}